<table class="table">
  <!-- TITRE -->
  <tr>
    <td><strong>Titre</strong></td>
    <td>
      <div class="form-group" id="inputTitleEdit">
        <span ng-if="!edit.$edit">{{currentProject.title}}</span>
        <input ng-if="edit.$edit" class="form-control" type="text" ng-model="currentProject.title">
      </div>
    </td>
  </tr>
  <!-- DESCRIPTION -->
  <tr>
    <td><strong>Description</strong></td>
    <td>
      <div class="form-group" id="inputDescriptionEdit">
        <span ng-if="!edit.$edit">{{currentProject.description}}</span>
        <textarea ng-if="edit.$edit" class="form-control" ng-model="currentProject.description" rows="2"></textarea>
      </div>
    </td>
  </tr>
  <!-- ANNEE -->
  <tr>
    <td><strong>Année</strong></td>
    <td>
      <div class="form-group" id="inputYearEdit">
        <span ng-if="!edit.$edit">{{currentProject.year}}</span>
        <input ng-if="edit.$edit" type="text" class="form-control" ng-model="currentProject.year">
      </div>
    </td>
  </tr>
  <!-- EQUIPE -->
  <tr>
    <td><strong>Equipe</strong></td>
    <td>
      <div class="form-inline" ng-repeat="user in usersInProject">
        <!-- NOM -->
        <a href="" ng-click="closeThisDialog('') ; viewUser(user)">{{user.name}}</a>
        <!-- ROLE -->
        <span ng-if="!edit.$edit">: {{roles[user.id].name}}</span>
        <input ng-if="edit.$edit" type="text" class="form-control" ng-model="roles[user.id].name">
        <!-- SUPPRIMER -->
        <a ng-if="edit.$edit" ng-click="closeThisDialog(''); deleteUserInProject(user)" href="" class="glyphicon glyphicon-remove"></a>
      </div>
      <a id="plus" ng-if="edit.$edit" ng-click="addInput()" href="" class="glyphicon glyphicon-plus"></a>
    </td>
  </tr>
</table>
<span ng-if="!edit.$edit"><strong>Pour ajouter un utilisateur au projet, cliquez sur Editer</strong></span>
<button ng-if="!edit.$edit" ng-click="edit.$edit = true" class="btn btn-default">Editer</button>
<button ng-if="edit.$edit" ng-click="edit.$edit = updateProject(currentProject)" class="btn btn-default">Valider
</button>
